*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Playfair Display', serif;
}
.title{
    display: inline;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30px;
    color: var(--yellow);
    border-bottom: 5px solid var(--dark);
    width: 235px;
    margin: 15px 0;
    text-align: center;
    text-decoration:black
}

.rooms{
    margin: 100px;
}
.room{
    margin: 45px 0;
    padding-bottom: 25px;
    background: var(--dark);
    color: #fff;
}
.room-text{
    padding: 5px 20px;
    color: black;
}
.room-text h3{
    font-size: 24px;
    color: black;
}
.room-text ul{
    list-style-type:disc;
    margin: 15px 0;
}
.room-text ul li{
    padding: 7px 0;
}
.room-text ul li i{
    color: var(--yellow);
    
}
.rate{
    opacity: 1.8;
    text-size-adjust:12px;
}
.rate span{
    font-size: 40px;
    font-weight: 900;
    color: var(--yellow);
}
.room-image{
    overflow: hidden;

}
.room-image img{
    transition: var(--transition);
}
.room-image:hover img{
    transform: scale(1.1);
}
@media (min-width: 900px){
    .rooms-container{
        display: flex;
        flex-wrap: wrap;
    }
    .room{
        flex: 0 0 calc(50% - 20px);
        margin: 10px;
    }
}
@media(min-width: 1370px){
    .rooms-container{
        flex-direction: column;
    }
    .room{
        display: flex;
        padding-bottom: 0;
        margin: 5px 0;
    }
    .room-image{
        flex: 1;
    }
    .room-image img{
        height: 85%;
        width: 85%;
    }
    .room-text{
        flex: 1;
    }
    .room:nth-child(even){
        flex-direction: row-reverse;
    }
}
.hotel{
    background-color:rgb(243,238,232);
}
h1,h3, h4, h5, h6{
    padding: 8px 0;
}
.rate span{
    font-size: 20px;
    font-weight: 200;
    color: var(--yellow);
}
.btn{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border:black solid 1px;
    border-radius: 15px;
    padding: 10px;
    width: 140px;
    display: block;
    margin: 15px auto;
    cursor: pointer;
    transition: var(--transition);

}

.btn:hover{
    opacity: 0.85;
}
.checked {
    color: orange;
  }